/*-*- css-indent-offset: 2 -*-*/
/* Copyright 2023-2025 by zrajm. Licenses: CC BY-SA (text), GPLv2 (code). */
html {
  line-height: 1.5;
  padding: 0;
}
body {
  max-width: 42em;
  margin: auto;
}
blockquote, tt, pre {
  background: #8884;
  padding: .0625rem .125rem;
  border-radius: 4px;
}
blockquote, pre {
  margin: 1rem 2em;
  padding: .5rem;
  & > :first-child { margin-top: 0; }
  & > :last-child { margin-bottom: 0; }
}
figure {
  text-align: center;
  border: 1px solid #000;
  width: fit-content;
  padding: .5rem;
}
footer {
  text-align: center;
  margin: 2rem 0;
  padding-top: 1em;
  margin-top: 2em;
  border: 0 solid #000; border-top-width: 2px;
}
/*[eof]*/
